.gallery-container{
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: scroll;
    overflow-x: auto;
}
.row {
    width: 100% !important;
    gap: 10px;
}
.gal-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
    padding-top: 10px;
}
.likes-container{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    border: 3px solid darkslategray;
    width: 100px;
}

@media (min-width:600px) and (max-width:961px)  {
    .gallery-container{
        width: 80vw
    }
}