/* animation demo */

p {
    animation-name: demo;
    animation-duration: 3s;
}

.infinite_animate {
    animation: demo .1s infinite alternate;
}

@keyframes demo {
    from {
        font-size: 0vh;
        color:rebeccapurple;
        opacity: 0%;
    }
    to {
        font-size: 20vh;
        color:green;
        opacity: 100%;
    }
}

/* Apply to every element */
:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}