/* Apply to every element */
:root {
    font-family: Impact, 'Arial Narrow Bold', sans-serif
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    /* Kind of a janky fix, find a way to do this better to deal with the fixed navbar*/
    margin-top: 60px;
    height: 100vh;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

footer {
    display: flex;
    position: sticky bottom;
    background-color: black;
    color: white;
    width: 100vw;
    

}

.author_bio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}